<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DouBanJiang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A947DEDA1BD5268A00BAAA90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A947DEF31BD5268B00BAAA90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A947DEFE1BD5268B00BAAA90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
